.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 7em;
}

.container h2 {
  color: #000;
}

.image-container {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.image-container li {
  padding: 1.5em;
}

.image-container img {
  max-width: 20em;
}

.image-container h1, .image-container h2,
.image-container p {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.pagination {
  margin-top: 6em;
}

.pagination-list {
  display: flex;
  list-style-type: none;
}

.pagination a {
  color: #2250f1;
  text-decoration: none;
  font-size: 24px;
  margin: 0.3em;
}

.pagination a:hover {
  opacity: 0.6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
